<a href="https://colab.research.google.com/github/rivb/Introduction-to-ML/blob/master/3_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
import seaborn as sns

import graphviz
import pydotplus
import io
from scipy import misc

%matplotlib inline

In [0]:
!pip install kaggle

!mkdir ~/.kaggle
!touch ~/.kaggle/kaggle.json

api_token = {"username":"raimundovb","key":"7f8e2800afe7469feb9049847de092fe"}

import json

with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

!chmod 600 ~/.kaggle/kaggle.json

!kaggle config path -p /content

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
usage: kaggle config [-h] {view,set,unset} ...
kaggle config: error: argument command: invalid choice: 'path' (choose from 'view', 'set', 'unset')

In [0]:
!kaggle datasets download -d geomack/spotifyclassification

Downloading spotifyclassification.zip to /content
  0% 0.00/98.4k [00:00<?, ?B/s]
100% 98.4k/98.4k [00:00<00:00, 85.7MB/s]

In [0]:
data = pd.read_csv('spotifyclassification.zip', compression='zip', header=0, sep=',', quotechar='"')

In [0]:
data.describe()

        Unnamed: 0  acousticness  ...      valence       target
count  2017.000000   2017.000000  ...  2017.000000  2017.000000
mean   1008.000000      0.187590  ...     0.496815     0.505702
std     582.402066      0.259989  ...     0.247195     0.500091
min       0.000000      0.000003  ...     0.034800     0.000000
25%     504.000000      0.009630  ...     0.295000     0.000000
50%    1008.000000      0.063300  ...     0.492000     1.000000
75%    1512.000000      0.265000  ...     0.691000     1.000000
max    2016.000000      0.995000  ...     0.992000     1.000000

[8 rows x 15 columns]

In [0]:
#split data: train set and training set
train, test = train_test_split(data, test_size = 0.15)
print("Training size: {}; Test size: {}".format(len(train), len(test)))

Training size: 1714; Test size: 303

## **1.- Decision Tree Classifier**

In [0]:
c = DecisionTreeClassifier(min_samples_split = 100)

In [0]:
features = ["danceability", "loudness", "valence", "energy", "instrumentalness","acousticness","key","instrumentalness"]

In [0]:
X_train = train[features]
Y_train= train["target"]

X_test = train[features]
Y_test= train["target"]

In [0]:
dt = c.fit(X_train, Y_train)

In [0]:
print("Training Score   :", c.score(X_train, Y_train))
print("Test Score   :", c.score(X_test,Y_test))

Training Score   : 0.7584597432905484
Test Score   : 0.7584597432905484

## **2.- Random Forest**

In [0]:
from sklearn.ensemble import RandomForestClassifier

c = RandomForestClassifier(min_samples_split = 100)

dt = c.fit(X_train, Y_train)

print("Training Score   :", c.score(X_train, Y_train))
print("Test Score   :", c.score(X_test,Y_test))

Training Score   : 0.7747957992998833
Test Score   : 0.7747957992998833